{% extends "base.html" %}

{% block content %}
<div id='login-panel-container'>
  <div id='login-panel'>
    {% if validlink %}
    <div id='login-panel-title'>Update Password</div>
    <form style='height: 100%' method='post' action=''>
      <div id='login-panel-form'>
        {% csrf_token %}
        <table>
          <tr>
            <th><label for="id_new_password1">New password:</label></th>
            <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ form.new_password1.errors }}</td>
          </tr>
          <tr>
            <th><label for="id_new_password2">Confirm password:</label></th>
            <td>{{ form.new_password2 }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ form.new_password2.errors }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ form.non_field_errors }}</td>
          </tr>
        </table>
      </div>
      <div id='login-panel-linkbar'>
      </div>
      <div id='login-panel-buttonbar'>
        {% if form.errors %}<span style='color:darkred; display: inline-block'>Update failed.</span>{% endif %}
        <input style='float: right' type='submit' value='Update' />
      </div>
    </form>
    {% else %}
    <div id='login-panel-title'>Password Reset Failed</div>
    <form style='height: 100%' method='post' action=''>
      <div id='login-panel-form'>
        This password reset link is no longer valid. Please <a href='{% url 'password_reset' %}'>request</a> another one.
      </div>
      <div id='login-panel-linkbar'>
      </div>
      <div id='login-panel-buttonbar'>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}