{% extends 'base.html' %}

{% block content %}
<div id='login-panel-container'>
  <div id='login-panel'>
    <div id='login-panel-title'>Reset Password</div>
    <form style='height: 100%' method='post' action=''>
      <div id='login-panel-form'>
        {% csrf_token %}
        <table>
          <tr>
            <th>{{ form.email.label_tag }}</th>
            <td>{{ form.email }}</td>
          </tr>
          <tr>
            <td colspan='2'>{{ form.email.errors }}</td>
          </tr>
        </table>
      </div>
      <div id='login-panel-linkbar'>
        <div>
          <a href='{% url 'login' %}'>Login</a>
          <a href='{% url 'signup' %}'>Sign Up</a>
        </div>
      </div>
      <div id='login-panel-buttonbar'>
        {% if form.email.errors %}<span style='color:darkred; display: inline-block'>Reset failed.</span>{% endif %}
        <input style='float: right' type='submit' value='Reset' />
      </div>
    </form>
  </div>
</div>
{% endblock %}